body {
    background-image: linear-gradient(
        rgb(59,65,93),
        rgb(29,40,42)
    );
    height:100vh;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#posicao {
    width: 100px;
}

#est cl{
    margin-top: 1rem;
    margin: 1rem;
}
/*box*/

.shadowbox {
  width: 10em;
  border: 1px solid #333;
  box-shadow: 3px 3px 5px #444;
  padding: 8px 20px;
  background-image: linear-gradient(18deg, #000000, #b60606 40%);
}

/*radios*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='radio'] {
        --active: #0a2269;
        --active-inner: #270202;
        --focus: 10px rgba(39, 94, 254, .25);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
    }
}

input[type='radio'] {
    --active: #275EFE;
    --border: #BBC1E1;
    border: 5px solid var(--bc, var(--border));
}

input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
}

/*buttons*/
.button-add {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-add:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-add {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.button-rem {
    background-color: #ff0a0a;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }

  .button-rem:hover {
    background-color: #8f0404;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-rem {
      padding: 16px 44px;
      min-width: 150px;
    }
  }